.content-box {
  z-index: 0;
}

.content__text {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-white);
  max-width: 1100px;
  padding-top: 210px;
  line-height: 115%;
}

.content__text span {
  color: var(--color-blue-1);
  font-size: 70px;
}

.content__rating {
  transform: scale(1.5);
  transform-origin: left center;
}

.content__company {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.content__contact {
  margin-left: 100px;
  color: var(--color-white);
}

@media (max-width: 1550px) {
  .welcome {
    max-width: 90%;
  }

  .content__text {
    font-size: 48px;
  }

  .content__text span {
    font-size: 54px;
  }
}

@media (max-width: 1050px) {
  .content__text {
    padding-top: 120px;
  }
  .content__rating {
    margin-top: 15px;
  }
  .content__contact {
    display: none;
  }
}

@media (max-width: 600px) {
  .content__text {
    font-size: 40px;
  }

  .content__text span {
    font-size: 48px;
  }
}
